@model List<WEB.Entities.Membresia>


@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tabla-Membresias" class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Plan</th>
            <th>Codigo de cliente</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Plan_codigo</td>
                <td>@item.Cliente_codigo</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/plantilla/js/jquery.min.js"></script>
