@model WEB.Entities.Usuario

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}



<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <div class="text-center">
                                    <h1 class="display-4">Harmony Gym</h1>
                                    <p>"Donde la armonía y la fuerza se encuentran"</p>
                                </div>
                                <h3 class="font-weight-bolder text-info text-gradient">¡Nos alegra verte de nuevo!</h3>
                                <p class="mb-0">Ingresa tus datos para iniciar</p>
                            </div>
                            <div class="card-body">
                                    @using (Html.BeginForm("Login","Home"))
                                    {
                                    <label>Correo electrónico</label>
                                    <div class="mb-3">
                                        @Html.TextBoxFor(m => m.Correo, new  { @type = "email", @class = "form-control", @placeholder = "Correo electrónico" })
                                    </div>
                                    <label>Contraseña</label>
                                    <div class="mb-3">
                                        @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })

                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                        <label class="form-check-label" for="rememberMe">Recuérdame</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Ingresar</button>
                                    </div>
                                    }
                                <p class="mb-4 text-sm mx-auto">
                                    <a href="@Url.Action("Principal", "Home")" class="text-info text-gradient font-weight-bold">"Pase a principal"</a>
                                </p>
                                <p class="mb-4 text-sm mx-auto">
                                    <a href="@Url.Action("Privacy", "Home")" class="text-info text-gradient font-weight-bold">"Pase a privacidad"</a>
                                </p>


                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    ¿No tiene cuenta con nosotros?
                                    <a href="@Url.Action("CreateUsuario", "Usuario")" class="text-info text-gradient font-weight-bold">Regístrese</a>
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('plantilla/img/gym/4.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>