@model List<WEB.Entities.Usuario>

@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>


<table id="tabla-Usuarios" class="table table-hover">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Identificacion</td>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.Descripcion</td>
                <td>@item.Estado</td>
                <td>

                    <button type="button" class="btn btn-primary Modales" data-toggle="modal" data-target="#ModalUsuarios"
                            data-id="@item.Identificacion" data-name="@item.Nombre">
                        <i class="fa fa-pen"></i>
                    </button>

                    <a class="btn btn-primary" href="@Url.Action("UpdateUsuario", "Usuario", new { q = item.Identificacion })">
                        <i class="fa fa-user"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/plantilla/js/ConsultaUsuarios.js"></script>
<script src="~/plantilla/js/jquery.min.js"></script>
