@model WEB.Entities.Empleados

@{
    ViewData["Title"] = "Pagina Actualizar el Empleados";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('@Url.Content("~/plantilla/img/gym.jpeg")');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">¡Bienvenido!</h1>
                    <p class="text-lead text-white">LLena el siquiente formulario para actualizar su empleado!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">

                    <div class="card-body">
                        @if (ViewBag.msj != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.msj
                            </div>
                        }
                        @using (Html.BeginForm("ActualizarEmpleado", "Empleados", FormMethod.Post, new { id = "gymForm" }))
                        {
                            <label for="Nombre">Nombre</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control form-control-user", @placeholder = "Nombre", @required = "true", @id = "Nombre" })
                            </div>

                            <label for="Apellidos">Apellidos</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Apellidos, new { @type = "text", @class = "form-control", @placeholder = "Apellidos", @required = "true", @id = "Apellidos" })
                            </div>

                            <label for="FechaNacimiento">Fecha de nacimiento</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.FechaNacimiento, new { @type = "date", @class = "form-control", @placeholder = "FechaNacimiento", @required = "true", @id = "FechaNacimiento" })
                            </div>

                            <label for="Genero"></label>
                            <div class="mb-3">
                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.Genero, "Masculino", new { @class = "form-check-input", @id = "GeneroMasculino" })
                                    <label class="form-check-label" for="GeneroMasculino">
                                        Masculino
                                    </label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(m => m.Genero, "Femenino", new { @class = "form-check-input", @id = "GeneroFemenino" })
                                    <label class="form-check-label" for="GeneroFemenino">
                                        Femenino
                                    </label>
                                </div>
                            </div>

                            <label for="Direccion">Dirección</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Direccion, new { @type = "text", @class = "form-control", @placeholder = "Dirección", @required = "true", @id = "Direccion" })
                            </div>

                            <label for="Telefono">Teléfono</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Telefono, new { @type = "text", @class = "form-control", @placeholder = "Teléfono", @required = "true", @id = "Telefono" })
                            </div>

                            <label for="Correo">Correo</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control", @placeholder = "Correo", @required = "true", @id = "Correo" })
                            </div>

                            <label for="Puesto">Puesto</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Puesto, new { @type = "text", @class = "form-control", @placeholder = "Puesto", @required = "true", @id = "Puesto" })
                            </div>

                            <label for="FechaContratacion">Fecha de contratacion</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.FechaContratacion, new { @type = "date", @class = "form-control", @placeholder = "FechaContratacion", @required = "true", @id = "FechaContratacion" })
                            </div>

                            <label for="Salario">Salario</label>
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.Salario, new { @type = "decimal", @class = "form-control", @placeholder = "Salario", @required = "true", @id = "Salario" })
                            </div>



                            <div class="form-check form-check-info text-left">
                                <input class="form-check-input" type="checkbox" value="" id="termsCheckbox">
                                <label class="form-check-label" for="termsCheckbox">
                                    Estoy de acuerdo con los <a href="javascript:;" class="text-dark font-weight-bolder">Términos y Condiciones</a>
                                </label>
                            </div>

                            <div class="">
                                <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" id="registerButton" disabled onclick="location.href='@Url.Action("index", "Home")'">Actualizar</button>
                            </div>
                        }
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
</section>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        const termsCheckbox = document.getElementById('termsCheckbox');
        const registerButton = document.getElementById('registerButton');
        const form = document.getElementById('gymForm');

        function validateForm() {
            const formElements = form.querySelectorAll('input[required], select[required]');
            let allValid = Array.from(formElements).every(el => el.value.trim() !== '');

            registerButton.disabled = !(allValid && termsCheckbox.checked);
        }

        termsCheckbox.addEventListener('change', validateForm);

        form.addEventListener('input', validateForm);


        validateForm();
    });
</script>
