@model WEB.Entities.Clientes

@{
    ViewData["Title"] = "Pagina Actualizar de clientes";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<main class="main-content  mt-0">
    <section class="min-vh-100 mb-8">
        <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('@Url.Content("~/plantilla/img/gym/14.jpg")');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-5">¡Bienvenido!</h1>
                        <p class="text-lead text-white">Ingresa tus datos!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0">

                        <div class="card-body">
                            @if (ViewBag.msj != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.msj
                                </div>
                            }
                            @using (Html.BeginForm("ActualizarCliente", "Clientes"))
                            {
                                <label>Nombre</label>
                                <div class="mb-3">
                                    @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control form-control-user", @placeholder = "Nombre", @required = "true", @id = "Nombre" })
                                </div>
                                <label>Apellidos</label>
                                <div class="mb-3">
                                    @Html.TextBoxFor(m => m.Apellidos, new { @type = "text", @class = "form-control form-control-user", @placeholder = "Apellidos", @required = "true", @id = "Apellidos" })
                                </div>
                                <label>Correo electrónico</label>
                                <div class="mb-3">
                                    @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control", @placeholder = "Correo electrónico", @required = "true" })
                                </div>
                                <label>Telefono</label>
                                <div class="mb-3">
                                    @Html.TextBoxFor(m => m.Telefono, new { @type = "text", @class = "form-control", @placeholder = "Telefono", @required = "true" })
                                </div>

                                <div class="form-check form-check-info text-left">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Estoy de acuerdo con los <a href="javascript:;" class="text-dark font-weight-bolder">Términos y Condiciones</a>
                                    </label>
                                </div>
                                <div class="">
                                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" onclick="location.href='@Url.Action("index", "Home")'">Actualizar</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


